<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <h3>Наши врачи</h3>
</head>
<body>
<table>
  <tbody th:if="${not #lists.isEmpty(doctorsList)}">
  <th:block th:each="doc : ${doctorsList}">
    <tr>
      <td th:text="${doc.firstName}"></td>
      <td th:text="${doc.lastName}"></td>
      <td th:text="${doc.speciality}"></td>
    </tr>
  </th:block>
  </tbody>
  <tbody th:if="${#lists.isEmpty(doctorsList)}">
  <tr>
    <td>No doctors found.</td>
  </tr>
  </tbody>
</table>
</body>
</html>