<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница|Госпиталь</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
</head>

<body>
<p>
    <span th:if="${doctorSession.loggedIn}"
          th:text="'Здравствуйте, ' + ${doctorSession.login}"></span>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/logout" th:if="${doctorSession.loggedIn}" class="btn btn-outline-danger me-md-2">Выход</a>
    <a href="/showPatients" th:if="${doctorSession.loggedIn}" class="btn btn-outline-info me-md-2">Мои пациенты</a>
    <a href="/login" th:if="${not doctorSession.loggedIn}" class="btn btn-outline-dark me-md-2">Вход</a>
    <a href="/register" th:if="${not doctorSession.loggedIn}" class="btn btn-outline-dark">Регистрация</a>
    </div>
    <a href="/showDoctors" class="btn btn-outline-dark">Наши врачи</a>
</p>



    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Специальность</th>
            <th scope="col">Логин</th>
        </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(randomDoctors)}">
        <th:block th:each="doc : ${randomDoctors}">
            <tr>
                <td th:text="${doc.firstName}"></td>
                <td th:text="${doc.lastName}"></td>
                <td th:text="${doc.speciality}"></td>
                <td th:text="${doc.login}"></td>
            </tr>
        </th:block>
        </tbody>
        <tbody th:if="${#lists.isEmpty(randomDoctors)}">
        <tr>
            <td>No doctors found.</td>
        </tr>
        </tbody>
    </table>


</body>
</html>