<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница|Госпиталь</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
</head>

<body>
<style>
    body {
        background: url("https://wallpaperaccess.com/full/1282794.jpg") no-repeat;
        background-size: 100% 900%;
    }
</style>
<p>
    <span th:if="${loggedIn}"
          th:text="'Здравствуйте, ' + ${login}"></span>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="/logout" method="post" th:if="${loggedIn}">
        <button class="btn btn-outline-danger me-md-2" type="submit">Выход</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
<!--    <a href="/logout" th:if="${loggedIn}" class="btn btn-outline-danger me-md-2">Выход</a>-->
    <a href="/showPatients" th:if="${loggedIn}" class="btn btn-outline-info me-md-2">Мои пациенты</a>
    <a href="/login" th:if="${not loggedIn}" class="btn btn-outline-dark me-md-2">Вход</a>
    <a href="/register" th:if="${not loggedIn}" class="btn btn-outline-dark">Регистрация</a>
    </div>
    <a href="/showDoctors" class="btn btn-outline-dark">Наши врачи</a>
    <a href="/api/departments/all" class="btn btn-outline-dark">Отделения</a>
</p>

</body>
</html>